:root {
  /* Material Design 3 color schemes */
  --md-sys-source: #6750a4;
  
  --md-sys-primary: light-dark(#6750a4, #cfbcff);
  --md-sys-primary-rgb: light-dark(rgb(103, 80, 164), rgb(207, 188, 255));
  --md-sys-on-primary: light-dark(#ffffff, #381e72);
  --md-sys-on-primary-rgb: light-dark(rgb(255, 255, 255), rgb(56, 30, 114));
  --md-sys-primary-container: light-dark(#e9ddff, #4f378a);
  --md-sys-primary-container-rgb: light-dark(rgb(233, 221, 255), rgb(79, 55, 138));
  --md-sys-on-primary-container: light-dark(#22005d, #e9ddff);
  --md-sys-on-primary-container-rgb: light-dark(rgb(34, 0, 93), rgb(233, 221, 255));
  --md-sys-secondary: light-dark(#625b71, #cbc2db);
  --md-sys-secondary-rgb: light-dark(rgb(98, 91, 113), rgb(203, 194, 219));
  --md-sys-on-secondary: light-dark(#ffffff, #332d41);
  --md-sys-on-secondary-rgb: light-dark(rgb(255, 255, 255), rgb(51, 45, 65));
  --md-sys-secondary-container: light-dark(#e8def8, #4a4458);
  --md-sys-secondary-container-rgb: light-dark(rgb(232, 222, 248), rgb(74, 68, 88));
  --md-sys-on-secondary-container: light-dark(#1e192b, #e8def8);
  --md-sys-on-secondary-container-rgb: light-dark(rgb(30, 25, 43), rgb(232, 222, 248));
  --md-sys-tertiary: light-dark(#7e5260, #efb8c8);
  --md-sys-tertiary-rgb: light-dark(rgb(126, 82, 96), rgb(239, 184, 200));
  --md-sys-on-tertiary: light-dark(#ffffff, #4a2532);
  --md-sys-on-tertiary-rgb: light-dark(rgb(255, 255, 255), rgb(74, 37, 50));
  --md-sys-tertiary-container: light-dark(#ffd9e3, #633b48);
  --md-sys-tertiary-container-rgb: light-dark(rgb(255, 217, 227), rgb(99, 59, 72));
  --md-sys-on-tertiary-container: light-dark(#31101d, #ffd9e3);
  --md-sys-on-tertiary-container-rgb: light-dark(rgb(49, 16, 29), rgb(255, 217, 227));
  --md-sys-error: light-dark(#ba1a1a, #ffb4ab);
  --md-sys-error-rgb: light-dark(rgb(186, 26, 26), rgb(255, 180, 171));
  --md-sys-on-error: light-dark(#ffffff, #690005);
  --md-sys-on-error-rgb: light-dark(rgb(255, 255, 255), rgb(105, 0, 5));
  --md-sys-error-container: light-dark(#ffdad6, #93000a);
  --md-sys-error-container-rgb: light-dark(rgb(255, 218, 214), rgb(147, 0, 10));
  --md-sys-on-error-container: light-dark(#410002, #ffb4ab);
  --md-sys-on-error-container-rgb: light-dark(rgb(65, 0, 2), rgb(255, 180, 171));
  --md-sys-background: light-dark(#fffbff, #1c1b1e);
  --md-sys-background-rgb: light-dark(rgb(255, 251, 255), rgb(28, 27, 30));
  --md-sys-on-background: light-dark(#1c1b1e, #e6e1e6);
  --md-sys-on-background-rgb: light-dark(rgb(28, 27, 30), rgb(230, 225, 230));
  --md-sys-surface: light-dark(#fffbff, #1c1b1e);
  --md-sys-surface-rgb: light-dark(rgb(255, 251, 255), rgb(28, 27, 30));
  --md-sys-on-surface: light-dark(#1c1b1e, #e6e1e6);
  --md-sys-on-surface-rgb: light-dark(rgb(28, 27, 30), rgb(230, 225, 230));
  --md-sys-surface-variant: light-dark(#e7e0eb, #49454e);
  --md-sys-surface-variant-rgb: light-dark(rgb(231, 224, 235), rgb(73, 69, 78));
  --md-sys-on-surface-variant: light-dark(#49454e, #cac4cf);
  --md-sys-on-surface-variant-rgb: light-dark(rgb(73, 69, 78), rgb(202, 196, 207));
  --md-sys-outline: light-dark(#7a757f, #948f99);
  --md-sys-outline-rgb: light-dark(rgb(122, 117, 127), rgb(148, 143, 153));
  --md-sys-outline-variant: light-dark(#cac4cf, #49454e);
  --md-sys-outline-variant-rgb: light-dark(rgb(202, 196, 207), rgb(73, 69, 78));
  --md-sys-shadow: light-dark(#000000, #000000);
  --md-sys-shadow-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --md-sys-scrim: light-dark(#000000, #000000);
  --md-sys-scrim-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --md-sys-inverse-surface: light-dark(#313033, #e6e1e6);
  --md-sys-inverse-surface-rgb: light-dark(rgb(49, 48, 51), rgb(230, 225, 230));
  --md-sys-inverse-on-surface: light-dark(#f4eff4, #313033);
  --md-sys-inverse-on-surface-rgb: light-dark(rgb(244, 239, 244), rgb(49, 48, 51));
  --md-sys-inverse-primary: light-dark(#cfbcff, #6750a4);
  --md-sys-inverse-primary-rgb: light-dark(rgb(207, 188, 255), rgb(103, 80, 164));
  --md-sys-surface-container-lowest: light-dark(#ffffff, #0f0e11);
  --md-sys-surface-container-lowest-rgb: light-dark(rgb(255, 255, 255), rgb(15, 14, 17));
  --md-sys-surface-container-low: light-dark(#f7f2f7, #1c1b1e);
  --md-sys-surface-container-low-rgb: light-dark(rgb(247, 242, 247), rgb(28, 27, 30));
  --md-sys-surface-container: light-dark(#f2ecf1, #201f22);
  --md-sys-surface-container-rgb: light-dark(rgb(242, 236, 241), rgb(32, 31, 34));
  --md-sys-surface-container-high: light-dark(#ece7eb, #2b292d);
  --md-sys-surface-container-high-rgb: light-dark(rgb(236, 231, 235), rgb(43, 41, 45));
  --md-sys-surface-container-highest: light-dark(#e6e1e6, #363438);
  --md-sys-surface-container-highest-rgb: light-dark(rgb(230, 225, 230), rgb(54, 52, 56));
  
  /* Custom color "success" */
  --md-custom-success-color: light-dark(#006d3d, #00e385);
  --md-custom-success-color-rgb: light-dark(rgb(0, 109, 61), rgb(0, 227, 133));
  --md-custom-success-on-color: light-dark(#ffffff, #00391d);
  --md-custom-success-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(0, 57, 29));
  --md-custom-success-color-container: light-dark(#5affa2, #00522c);
  --md-custom-success-color-container-rgb: light-dark(rgb(90, 255, 162), rgb(0, 82, 44));
  --md-custom-success-on-color-container: light-dark(#00210f, #5affa2);
  --md-custom-success-on-color-container-rgb: light-dark(rgb(0, 33, 15), rgb(90, 255, 162));
  
  /* Custom color "warning" */
  --md-custom-warning-color: light-dark(#715d00, #e4c44a);
  --md-custom-warning-color-rgb: light-dark(rgb(113, 93, 0), rgb(228, 196, 74));
  --md-custom-warning-on-color: light-dark(#ffffff, #3b2f00);
  --md-custom-warning-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(59, 47, 0));
  --md-custom-warning-color-container: light-dark(#ffe176, #554500);
  --md-custom-warning-color-container-rgb: light-dark(rgb(255, 225, 118), rgb(85, 69, 0));
  --md-custom-warning-on-color-container: light-dark(#221b00, #ffe176);
  --md-custom-warning-on-color-container-rgb: light-dark(rgb(34, 27, 0), rgb(255, 225, 118));
  
  /* Palette tone references */
  
  --md-ref-palette-primary100: #ffffff;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary95: #f6eeff;
  --md-ref-palette-primary90: #e9ddff;
  --md-ref-palette-primary85: #dccdff;
  --md-ref-palette-primary80: #cfbcff;
  --md-ref-palette-primary75: #c3acff;
  --md-ref-palette-primary70: #b69df8;
  --md-ref-palette-primary65: #a890e9;
  --md-ref-palette-primary60: #9a83db;
  --md-ref-palette-primary55: #8d76cd;
  --md-ref-palette-primary50: #8069bf;
  --md-ref-palette-primary45: #735cb1;
  --md-ref-palette-primary40: #6750a4;
  --md-ref-palette-primary35: #5b4397;
  --md-ref-palette-primary30: #4f378a;
  --md-ref-palette-primary25: #432b7e;
  --md-ref-palette-primary20: #381e72;
  --md-ref-palette-primary15: #2d1067;
  --md-ref-palette-primary10: #22005d;
  --md-ref-palette-primary5: #160041;
  --md-ref-palette-primary0: #000000;
  
  --md-ref-palette-secondary100: #ffffff;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary95: #f6eeff;
  --md-ref-palette-secondary90: #e8def8;
  --md-ref-palette-secondary85: #dad0ea;
  --md-ref-palette-secondary80: #cbc2db;
  --md-ref-palette-secondary75: #beb5cd;
  --md-ref-palette-secondary70: #b0a7c0;
  --md-ref-palette-secondary65: #a29ab2;
  --md-ref-palette-secondary60: #958da4;
  --md-ref-palette-secondary55: #888097;
  --md-ref-palette-secondary50: #7b748a;
  --md-ref-palette-secondary45: #6e677d;
  --md-ref-palette-secondary40: #625b71;
  --md-ref-palette-secondary35: #564f64;
  --md-ref-palette-secondary30: #4a4458;
  --md-ref-palette-secondary25: #3e384c;
  --md-ref-palette-secondary20: #332d41;
  --md-ref-palette-secondary15: #282336;
  --md-ref-palette-secondary10: #1e192b;
  --md-ref-palette-secondary5: #130e20;
  --md-ref-palette-secondary0: #000000;
  
  --md-ref-palette-tertiary100: #ffffff;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary95: #ffecf0;
  --md-ref-palette-tertiary90: #ffd9e3;
  --md-ref-palette-tertiary85: #fec5d6;
  --md-ref-palette-tertiary80: #efb8c8;
  --md-ref-palette-tertiary75: #e0aaba;
  --md-ref-palette-tertiary70: #d29dad;
  --md-ref-palette-tertiary65: #c3909f;
  --md-ref-palette-tertiary60: #b58392;
  --md-ref-palette-tertiary55: #a77685;
  --md-ref-palette-tertiary50: #996a79;
  --md-ref-palette-tertiary45: #8b5e6c;
  --md-ref-palette-tertiary40: #7e5260;
  --md-ref-palette-tertiary35: #704654;
  --md-ref-palette-tertiary30: #633b48;
  --md-ref-palette-tertiary25: #56303d;
  --md-ref-palette-tertiary20: #4a2532;
  --md-ref-palette-tertiary15: #3d1b27;
  --md-ref-palette-tertiary10: #31101d;
  --md-ref-palette-tertiary5: #240612;
  --md-ref-palette-tertiary0: #000000;
  
  --md-ref-palette-neutral100: #ffffff;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral95: #f4eff4;
  --md-ref-palette-neutral90: #e6e1e6;
  --md-ref-palette-neutral85: #d8d3d8;
  --md-ref-palette-neutral80: #cac5ca;
  --md-ref-palette-neutral75: #bcb7bc;
  --md-ref-palette-neutral70: #aeaaae;
  --md-ref-palette-neutral65: #a09da1;
  --md-ref-palette-neutral60: #938f94;
  --md-ref-palette-neutral55: #868387;
  --md-ref-palette-neutral50: #79767a;
  --md-ref-palette-neutral45: #6c696e;
  --md-ref-palette-neutral40: #605d62;
  --md-ref-palette-neutral35: #545156;
  --md-ref-palette-neutral30: #48464a;
  --md-ref-palette-neutral25: #3d3b3e;
  --md-ref-palette-neutral20: #313033;
  --md-ref-palette-neutral15: #272529;
  --md-ref-palette-neutral10: #1c1b1e;
  --md-ref-palette-neutral5: #121014;
  --md-ref-palette-neutral0: #000000;
  
  --md-ref-palette-neutral-variant100: #ffffff;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant95: #f5eefa;
  --md-ref-palette-neutral-variant90: #e7e0eb;
  --md-ref-palette-neutral-variant85: #d8d2dd;
  --md-ref-palette-neutral-variant80: #cac4cf;
  --md-ref-palette-neutral-variant75: #bcb7c1;
  --md-ref-palette-neutral-variant70: #afa9b4;
  --md-ref-palette-neutral-variant65: #a19ca6;
  --md-ref-palette-neutral-variant60: #948f99;
  --md-ref-palette-neutral-variant55: #87828c;
  --md-ref-palette-neutral-variant50: #7a757f;
  --md-ref-palette-neutral-variant45: #6d6973;
  --md-ref-palette-neutral-variant40: #615d66;
  --md-ref-palette-neutral-variant35: #54515a;
  --md-ref-palette-neutral-variant30: #49454e;
  --md-ref-palette-neutral-variant25: #3d3a43;
  --md-ref-palette-neutral-variant20: #322f38;
  --md-ref-palette-neutral-variant15: #27242d;
  --md-ref-palette-neutral-variant10: #1d1a22;
  --md-ref-palette-neutral-variant5: #121017;
  --md-ref-palette-neutral-variant0: #000000;
  
  --md-ref-palette-error100: #ffffff;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error85: #ffc7c0;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error75: #ff9f94;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error65: #ff7164;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error55: #f0443b;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error45: #cc2925;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error15: #540003;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error0: #000000;
}
